body {
	font-family: sans-serif;
}

.content-width {
	max-width: 1024px;
}

@media print {
	.content-width {
		max-width: 100%;
	}
}

.max-w-30 {
	width: 30px !important;
}

.text-justify {
	text-align: justify;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}